.checkbox label, .radio label {
  min-height: 20px;
  padding-left: 30px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.pre-scrollable {
  max-height: 80vh;
  overflow-y: scroll;

}

.dropdown-menu {
  min-width: 200px;
}



#drink-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  /*align-items: center;*/
}
